doctype html
meta charset="utf-8"
= render_title
= csrf_meta_tags
= render_meta_tags
= stylesheet_link_tag 'application', media: 'all', data: { turbolinks_track: true }
= javascript_include_tag 'application', data: { turbolinks_track: true }
= render 'admin_dashboard' if signed_in_as_admin?
.wrapper
  = render_flash_messages
  = yield
